<!-- app.component.html -->

<nav class="bg-gray-800">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex items-center">
        <div class="flex-shrink-0">
        </div>
        <div class="hidden md:block">
          <div class="ml-10 flex items-baseline space-x-4">

            <a routerLink="/login" [ngClass]="{
    'px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-md': selectedPage === 'login',
    'text-gray-300 hover:bg-gray-700 hover:text-white': selectedPage !== 'login'
  }" (click)="selectedPage = 'login'">
              Login
            </a>

            <a routerLink="/register" [ngClass]="{
    'px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-md': selectedPage === 'register',
    'text-gray-300 hover:bg-gray-700 hover:text-white': selectedPage !== 'register'
  }" (click)="selectedPage = 'register'">
              Register
            </a>

            <a routerLink="/todo" [ngClass]="{
    'px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-md': selectedPage === 'todo',
    'text-gray-300 hover:bg-gray-700 hover:text-white': selectedPage !== 'todo'
  }" (click)="selectedPage = 'todo'">
              Todo
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- Login Component -->
<router-outlet></router-outlet>